h1 {
    color: #a3a67b;
    font-family: "Lasco Bold",sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}
#filters-panel {
    float: left;
    width: 280px;
    text-align: left;
}
.filter-group {
    margin-bottom: 15px;
    background: #e5e2d8;
    padding: 15px 20px;
}
.filter-group > h3 {
    margin-bottom: 10px;
}
.filter-group > ul {
    color: #a3a67b;
}
.noUi-connect {
    background: #aa6290 !important;
}
